---
import UiiChannel from "./UiiChannel.astro";
import "@styles/UiiChannel.css";

import placeholderTheSecret from "@assets/placeholders/the_secret.jpeg";

const channels = [
    {
        title: "Who am I?",
        imageCover: placeholderTheSecret,
        link: "blog/who-am-i",
    },
    {
        title: "The inSecurity Camera: How not to secure a camera?",
        imageCover: placeholderTheSecret,
        link: "blog/the-insecurity-camera",
    },
    {
        title: "Who am I?",
        imageCover: placeholderTheSecret,
        link: "blog/who-am-i",
    },
    {
        title: "The inSecurity Camera: How not to secure a camera?",
        imageCover: placeholderTheSecret,
        link: "blog/the-insecurity-camera",
    },
];
---

<div class="uii-channel-grid">
    {channels.map((channel) => <UiiChannel {...channel} />)}
</div>
