---
import "@styles/UiiFooter.css";
import UiiClock from "./UiiClock.astro";

import MdiHome from "~icons/mdi/home.astro";
import MdiGithub from "~icons/mdi/github.astro";
import MdiSun from "~icons/mdi/white-balance-sunny.astro";
import MdiNight from "~icons/mdi/weather-night.astro";
import MdiThemeAuto from "~icons/mdi/brightness-auto.astro";
const BASE_URL = import.meta.env.BASE_URL;

export interface FooterProps {
    returnHomeLink?: boolean;
}

const props: FooterProps = Astro.props as FooterProps;
const returnHomeLink = props.returnHomeLink ?? false;
---

<footer id="uii-footer">
    <div id="uii-footer-part1">
        <div class="border"></div>
        <div class="pane"></div>
    </div>
    <div id="uii-footer-part2">
        <div class="border"></div>
        <div class="pane">
            <a
                class="button"
                href={returnHomeLink ? BASE_URL : BASE_URL + "blog/who-am-i"}
                title="whoami?"
            >
                {
                    returnHomeLink ? (
                        <MdiHome />
                    ) : (
                        <svg
                            width="128"
                            height="128"
                            viewBox="0 0 128 128"
                            fill="currentColor"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                xmlns="http://www.w3.org/2000/svg"
                                d="M50.4648 58L46.6008 36.384L42.4568 58H35.9608L30.6408 28.488H35.4008L39.2088 55.088L43.9128 32.24H49.4568L53.8808 55.088L57.6888 28.488H62.2248L57.1288 58H50.4648ZM73.5149 32.576C74.6723 31.0827 76.0909 29.9253 77.7709 29.104C79.4509 28.2827 81.1869 27.872 82.9789 27.872C88.5043 27.872 91.2669 30.784 91.2669 36.608V58H86.5629V36.664C86.5629 34.9093 86.1523 33.64 85.3309 32.856C84.5096 32.0347 83.2029 31.624 81.4109 31.624C79.8803 31.624 78.4056 32.1093 76.9869 33.08C75.5683 34.0507 74.4109 35.1893 73.5149 36.496V58H68.8109V16.672L73.5149 16.168V32.576ZM113.645 27.872C117.714 27.872 120.832 29.2533 122.997 32.016C125.2 34.7413 126.301 38.4747 126.301 43.216C126.301 47.8453 125.181 51.5787 122.941 54.416C120.738 57.216 117.621 58.616 113.589 58.616C109.52 58.616 106.384 57.2533 104.181 54.528C101.978 51.7653 100.877 48.0133 100.877 43.272C100.877 38.6053 101.978 34.872 104.181 32.072C106.421 29.272 109.576 27.872 113.645 27.872ZM113.645 31.736C111.069 31.736 109.146 32.688 107.877 34.592C106.608 36.496 105.973 39.3893 105.973 43.272C105.973 47.1547 106.589 50.048 107.821 51.952C109.09 53.8187 111.013 54.752 113.589 54.752C116.165 54.752 118.069 53.8187 119.301 51.952C120.57 50.048 121.205 47.136 121.205 43.216C121.205 39.3333 120.57 36.4587 119.301 34.592C118.069 32.688 116.184 31.736 113.645 31.736ZM56.4008 101.56C56.4008 102.717 56.5875 103.576 56.9608 104.136C57.3341 104.659 57.9501 105.051 58.8088 105.312L57.6328 108.672C54.7581 108.299 52.9661 106.899 52.2568 104.472C51.2115 105.816 49.8861 106.843 48.2808 107.552C46.7128 108.261 44.9581 108.616 43.0168 108.616C40.0675 108.616 37.7341 107.795 36.0168 106.152C34.3368 104.509 33.4968 102.307 33.4968 99.544C33.4968 96.52 34.6728 94.1867 37.0248 92.544C39.4141 90.9013 42.8301 90.08 47.2728 90.08H51.6408V87.672C51.6408 85.5813 51.0435 84.088 49.8488 83.192C48.6541 82.2587 46.9181 81.792 44.6408 81.792C42.4008 81.792 39.8435 82.296 36.9688 83.304L35.6808 79.72C39.1528 78.488 42.3821 77.872 45.3688 77.872C48.9528 77.872 51.6781 78.712 53.5448 80.392C55.4488 82.072 56.4008 84.4053 56.4008 87.392V101.56ZM44.1928 105.088C45.6488 105.088 47.0301 104.715 48.3368 103.968C49.6808 103.221 50.7821 102.195 51.6408 100.888V93.328H47.3848C44.2488 93.328 41.9901 93.8507 40.6088 94.896C39.2275 95.9413 38.5368 97.472 38.5368 99.488C38.5368 103.221 40.4221 105.088 44.1928 105.088ZM88.2429 77.872C89.9229 77.872 91.2856 78.4693 92.3309 79.664C93.4136 80.8213 93.9549 82.9493 93.9549 86.048V108H89.6429V86.832C89.6429 84.7787 89.5123 83.3973 89.2509 82.688C88.9896 81.9413 88.3549 81.568 87.3469 81.568C85.4429 81.568 83.7256 82.744 82.1949 85.096V108H77.8269V86.832C77.8269 84.7787 77.6963 83.3973 77.4349 82.688C77.1736 81.9413 76.5389 81.568 75.5309 81.568C73.6269 81.568 71.9096 82.744 70.3789 85.096V108H66.0669V78.488H69.7069L70.0429 81.96C70.9389 80.6533 71.8723 79.6453 72.8429 78.936C73.8509 78.2267 75.0456 77.872 76.4269 77.872C79.1896 77.872 80.9629 79.1787 81.7469 81.792C82.6429 80.5227 83.5949 79.552 84.6029 78.88C85.6109 78.208 86.8243 77.872 88.2429 77.872ZM113.589 64.712C114.634 64.712 115.474 65.0293 116.109 65.664C116.744 66.2613 117.061 67.0453 117.061 68.016C117.061 68.9867 116.744 69.7893 116.109 70.424C115.474 71.0213 114.634 71.32 113.589 71.32C112.581 71.32 111.76 71.0213 111.125 70.424C110.528 69.7893 110.229 68.9867 110.229 68.016C110.229 67.0453 110.528 66.2613 111.125 65.664C111.76 65.0293 112.581 64.712 113.589 64.712ZM117.341 104.248H125.629V108H103.565V104.248H112.637V82.24H103.845V78.488H117.341V104.248Z"
                                fill="currentColor"
                            />
                            <path
                                xmlns="http://www.w3.org/2000/svg"
                                d="M1.98294 57.752V55.064L20.0149 42.52V42.296L1.98294 29.752V27.064L22.4229 41.288V43.528L1.98294 57.752Z"
                                fill="currentColor"
                            />
                            <rect
                                xmlns="http://www.w3.org/2000/svg"
                                class="whoami-cursor"
                                x="2"
                                y="64"
                                width="24"
                                height="45"
                                fill="currentColor"
                            />
                        </svg>
                    )
                }
            </a>
            <button
                id="uii-sdcard"
                class="active"
                title="SD Card (just for fun!)"
            >
                <svg
                    width="23"
                    height="30"
                    viewBox="0 0 23 30"
                    fill="none"
                    xmlns="http://www.w3.org/2000/svg"
                >
                    <path
                        d="M2 0.5H19.1191C19.5398 0.500108 19.9432 0.676737 20.2334 0.987305C20.6296 1.41138 21.1627 1.97487 21.6338 2.44824C22.1419 2.95892 22.5 3.70068 22.5 4.36133V28C22.5 28.8284 21.8284 29.5 21 29.5H2C1.17157 29.5 0.5 28.8284 0.5 28V2C0.5 1.17157 1.17157 0.5 2 0.5Z"
                        fill="var(--sdcard-color-light)"
                        stroke="var(--sdcard-color-darker)"></path>
                    <rect
                        x="2"
                        y="24"
                        width="19"
                        height="4"
                        fill="var(--sdcard-color-darker)"></rect>
                    <rect
                        x="2"
                        y="4"
                        width="19"
                        height="19"
                        fill="var(--sdcard-color-lighter)"></rect>
                    <path
                        d="M7.95509 14.932C7.95509 15.1837 7.6009 15.2044 6.5866 15.1837C5.00881 15.1561 3.6854 14.9871 3.6854 14.9871L3.06619 16.8151C3.06619 16.8151 4.56832 16.9255 6.17122 16.9255C8.45741 16.9255 10.3411 17.0221 10.6856 15.4045C10.9304 14.2628 9.99978 13.7248 8.89211 13.373C8.14507 13.135 6.78302 12.8074 6.78302 12.5211C6.78302 12.1555 7.69749 12.1658 8.33183 12.1451C9.02413 12.1244 11.7064 12.121 11.7064 12.121L12.0477 11.0863C12.0477 11.0863 10.1189 11.0311 8.20303 11.1311C5.44351 11.2794 4.92831 11.9348 4.86391 12.5625C4.78019 13.3764 5.80414 13.9421 6.4256 14.1973C7.01808 14.4387 7.95509 14.6181 7.95509 14.932Z"
                        fill="var(--sdcard-color-dark)"></path>
                    <path
                        d="M15.3224 12.9936C15.3095 12.966 15.2934 12.9384 15.2773 12.9108L18.6036 12.0141C19.1317 12.29 19.5728 12.6453 19.8014 13.1005C20.0075 13.5006 19.9656 13.9145 19.7274 14.318C17.8243 16.8496 12.8752 16.8324 11.0881 16.9186L11.8642 14.5767C12.3375 14.5595 13.0201 14.487 13.4291 14.4008C13.8348 14.3146 14.1986 14.2008 14.4949 14.0662C14.7911 13.9317 15.023 13.78 15.1711 13.6179C15.316 13.4558 15.3868 13.2902 15.3578 13.1178C15.3514 13.0764 15.3385 13.035 15.3224 12.9936Z"
                        fill="var(--sdcard-color-dark)"></path>
                    <path
                        d="M17.8984 11.7037C17.7052 11.6174 17.4379 11.5105 17.2415 11.4553L14.8072 12.5073C14.8781 12.5452 14.9843 12.6315 15.0391 12.6694C15.0552 12.6832 15.068 12.6935 15.0841 12.7039L17.8984 11.7037Z"
                        fill="var(--sdcard-color-dark)"></path>
                    <path
                        d="M15.902 11.2139C15.4995 11.1518 15.1646 11.1242 14.9682 11.1173C14.1922 11.0966 13.8863 11.0794 13.0233 11.0828L12.6788 12.1244C12.8913 12.1313 12.9879 12.121 13.3453 12.1589C13.6738 12.1934 13.9765 12.2452 14.2437 12.321L15.902 11.2139Z"
                        fill="var(--sdcard-color-dark)"></path>
                    <path
                        d="M18.9803 16.1564H18.7485L18.6487 16.9289H18.5327L18.6358 16.1564H18.4039L18.42 16.046H18.9964L18.9803 16.1564Z"
                        fill="var(--sdcard-color-dark)"></path>
                    <path
                        d="M19.8336 16.9289H19.7241V16.2598L19.3925 16.9289L19.2508 16.2529H19.2476L19.0447 16.9289H18.9352L19.2089 16.046H19.3023L19.4279 16.6427L19.7241 16.046H19.8336V16.9289Z"
                        fill="var(--sdcard-color-dark)"></path>
                </svg>
            </button>
        </div>
    </div>
    <div id="uii-footer-part3">
        <div class="border"></div>
        <div class="pane">
            <UiiClock />
        </div>
    </div>
    <div id="uii-footer-part4">
        <div class="border"></div>
        <div class="pane">
            <button id="uii-theme-switch" class="auto" title="Switch Theme">
                <MdiSun class="icon-light" />
                <MdiNight class="icon-dark" />
                <MdiThemeAuto class="icon-auto" />
            </button>
            <a class="button" href="https://github.com/fusetim/uii">
                <MdiGithub />
            </a>
        </div>
    </div>
    <div id="uii-footer-part5">
        <div class="border"></div>
        <div class="pane"></div>
    </div>
</footer>

<script>
    // Note: This is a Astro-managed script, it will execute once for all instances of this component.
    // On load, set the theme based on localStorage
    const savedTheme = localStorage.getItem("uii-theme");
    const preferredColorScheme = () =>
        window.matchMedia("(prefers-color-scheme: dark)").matches
            ? "dark"
            : "light";
    const themeSwitchButton = document.getElementById("uii-theme-switch");
    if (!themeSwitchButton) {
        throw new Error("theme404");
    }

    if (savedTheme) {
        document.body.classList.remove("light", "dark");
        themeSwitchButton.classList.remove("auto");
        document.body.classList.add(savedTheme);
    } else {
        document.body.classList.add(preferredColorScheme());
    }

    // Handle the SD Card button toggle
    const sdcardButton = document.getElementById("uii-sdcard");
    if (!sdcardButton) {
        throw new Error("sdcard 404");
    }
    sdcardButton.addEventListener("click", () => {
        sdcardButton.classList.toggle("active");
    });

    // Handle the Theme Switch button toggle
    themeSwitchButton.addEventListener("click", () => {
        const body = document.body;
        const curTheme = localStorage.getItem("uii-theme");
        const isAuto = themeSwitchButton.classList.contains("auto");
        // Switch to the next theme: Auto -> Light -> Dark -> Auto
        if (isAuto) {
            // Switch to Light
            body.classList.remove("dark");
            body.classList.add("light");
            themeSwitchButton.classList.remove("auto");
            localStorage.setItem("uii-theme", "light");
        } else if (curTheme === "light") {
            // Switch to Dark
            body.classList.remove("light");
            body.classList.add("dark");
            localStorage.setItem("uii-theme", "dark");
        } else {
            // Switch to Auto
            body.classList.remove("light", "dark");
            themeSwitchButton.classList.add("auto");
            localStorage.removeItem("uii-theme");
            // Apply the preferred color scheme
            body.classList.add(preferredColorScheme());
        }
    });
</script>
