---
import "@styles/UiiFooter.css"
import MdiHistory from "~icons/mdi/history.astro";
---

<footer id="uii-footer">
    <div id="uii-footer-part1">
        <div class="border"></div>
        <div class="pane">
            <a class="button" href="https://github.com">
                <MdiHistory></MdiHistory>
            </a>
        </div>
    </div>
    <div id="uii-footer-part2">
        <div class="border"></div>
        <div class="pane">
        </div>
    </div>
    <div id="uii-footer-part3">
        <div class="border"></div>
        <div class="pane">
            <p>Content</p>
        </div>
    </div>
    <div id="uii-footer-part4">
        <div class="border"></div>
        <div class="pane">
        </div>
    </div>
    <div id="uii-footer-part5">
        <div class="border"></div>
        <div class="pane">
            <p>Content</p>
        </div>
    </div>
</footer>