---
import "@styles/UiiFooter.css"
---

<footer id="uii-footer">
    <div id="uii-footer-part1"></div>
    <div id="uii-footer-part2"></div>
    <div id="uii-footer-part3"></div>
    <div id="uii-footer-part4"></div>
    <div id="uii-footer-part5"></div>
</footer>