#uii-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    min-height: 96px;

    display: flex;
    flex-direction: row;

    --footer-pane-color: var(--md-sys-color-surface-container);
    --footer-border-color: var(--md-sys-color-primary);
    --footer-button-color: var(--md-sys-color-primary);
    --footer-button-text-color: var(--md-sys-color-on-primary);

    view-transition-name: uii-footer;
}

#uii-footer>div {
    height: 96px;
    position: relative;
    z-index: 0;
}

#uii-footer>div>.pane,
#uii-footer>div>.border {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#uii-footer>div>.border {
    z-index: 1;
}

#uii-footer>div>.pane {
    z-index: 2;
}

#uii-footer #uii-footer-part1,
#uii-footer #uii-footer-part5 {
    width: 0px;
    flex-grow: 1;
}

#uii-footer #uii-footer-part1>.border,
#uii-footer #uii-footer-part5>.border {
    background-color: var(--footer-border-color);
    /* This part must resize, therfore we cant use CSS path */
    height: 4px;
}

#uii-footer #uii-footer-part1>.pane,
#uii-footer #uii-footer-part5>.pane {
    background-color: var(--footer-pane-color);
    /*Depends on the pane size - 128x96px as ref*/
    margin-top: 4px;
    height: calc(100% - 4px);
}

#uii-footer #uii-footer-part2,
#uii-footer #uii-footer-part4 {
    width: 128px;
    height: 96px;
    flex-shrink: 0;
}

#uii-footer #uii-footer-part2>.pane,
#uii-footer #uii-footer-part4>.pane {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

#uii-footer #uii-footer-part2>.pane {
    padding-right: 24px;
}

#uii-footer #uii-footer-part4>.pane {
    padding-left: 24px;
}

#uii-footer #uii-footer-part2>.border {
    background-color: var(--footer-border-color);
    /*Depends on the pane size - 128x96px as ref*/
    clip-path: path("M 0 0 H 80 C 104 0 104 20 128 20 V 108 H 0 Z");
}

#uii-footer #uii-footer-part2>.pane {
    background-color: var(--footer-pane-color);
    /*Depends on the pane size - 128x96px as ref*/
    clip-path: path("M 0 4 H 80 C 101 4 102 24 128 24 V 104 H 0 Z");
    padding-top: 4px;
}

#uii-footer #uii-footer-part4>.border {
    background-color: var(--footer-border-color);
    /*Depends on the pane size - 128x96px as ref*/
    clip-path: path("M 128 0 H 48 C 24 0 24 20 0 20 v 88 H 128 Z");
}

#uii-footer #uii-footer-part4>.pane {
    background-color: var(--footer-pane-color);
    /*Depends on the pane size - 128x96px as ref*/
    clip-path: path("M 128 4 H 48 C 27 4 26 24 0 24 V 104 H 128 Z");
    padding-top: 4px;
}

#uii-footer #uii-footer-part3 {
    flex: 128px 1 0;
}

#uii-footer #uii-footer-part3>.border {
    background-color: var(--footer-border-color);
    /* This part must resize, therfore we cant use CSS path */
    margin-top: 20px;
    height: 4px;
}

#uii-footer #uii-footer-part3>.pane {
    background-color: var(--footer-pane-color);
    /* This part must resize, therfore we cant use CSS path */
    margin-top: 24px;
    height: calc(100% - 24px);
}

#uii-footer .button {
    border-radius: 999px;
    padding: 12px;
    margin: 4px;
    width: 64px;
    height: 64px;

    background-color: var(--footer-button-color);
}

.dark #uii-footer .button:hover {
    filter: brightness(110%);
}

.light #uii-footer .button:hover {
    filter: brightness(90%);
}

#uii-footer .button>svg {
    width: 100%;
    height: 100%;
    color: var(--footer-button-text-color);
}

#uii-sdcard {
    position: absolute;
    bottom: 16px;
    right: 8px;
    z-index: 3;

    --sdcard-color-darker: #787A7A;
    --sdcard-color-dark: #A1A1A1;
    --sdcard-color-light: #C3CAD8;
    --sdcard-color-lighter: #E9EEF8;

    cursor: pointer;
}

.dark #uii-sdcard.active {
    /*When active, adds a blue tint*/
    --sdcard-color-darker: oklch(0.35 0.0826 227.71);
    --sdcard-color-dark: oklch(0.45 0.0826 227.71);
    --sdcard-color-light: oklch(0.78 0.0826 227.71);
    --sdcard-color-lighter: oklch(0.8222 0.0826 227.71);
}

.dark #uii-sdcard:hover {
    filter: brightness(110%);
}

.light #uii-sdcard.active {
    /*When active, adds a blue tint*/
    --sdcard-color-darker: oklch(0.7 0.0858 225.48);
    --sdcard-color-dark: oklch(0.4762 0.0858 225.48);
    --sdcard-color-light: oklch(0.4762 0.0858 225.48);
    --sdcard-color-lighter: oklch(0.82 0.0858 225.48);
}

.light #uii-sdcard:hover {
    filter: brightness(80%);
}


#uii-theme-switch {
    position: absolute;
    bottom: 16px;
    left: 8px;
    z-index: 3;
    cursor: pointer;
}

#uii-theme-switch>svg {
    display: none;
    width: 32px;
    height: 32px;
    padding: 4px;
    color: var(--footer-button-color);
    background-color: transparent;
    border-radius: 999px;
    transition: color, background-color 0.2s;
}

#uii-theme-switch:hover>svg {
    background-color: var(--footer-button-color);
    color: var(--footer-button-text-color);
}

/* Show the next theme icon (Auto -> Light -> Dark -> Auto)*/
.light #uii-theme-switch.auto .icon-dark,
.light #uii-theme-switch.auto .icon-auto,
.dark #uii-theme-switch.auto .icon-dark,
.dark #uii-theme-switch.auto .icon-auto {
    display: none;
}

.light #uii-theme-switch.auto .icon-light,
.dark #uii-theme-switch.auto .icon-light {
    display: inline;
}

.light #uii-theme-switch .icon-dark {
    display: inline;
}

.dark #uii-theme-switch .icon-auto {
    display: inline;
}

/* "Animate" the whoami terminal cursor */
.whoami-cursor {
    animation: blink 1.5s step-start 0s infinite;
}

@keyframes blink {

    0%,
    50% {
        opacity: 1;
    }

    50.01%,
    100% {
        opacity: 0;
    }
}