::view-transition-old(blankPageBody) {
    animation: 0.1s linear both slideOutToLeft;
}

::view-transition-new(blankPageBody) {
    animation: 0.25s 0.1s linear both slideInFromRight;
}

@view-transition {
    navigation: auto;
}