---
import BasePage from "@layouts/BasePage.astro";
import type { BaseHeadProps } from "@layouts/BaseHead.astro";
import UiiFooter from "@components/UiiFooter/UiiFooter.astro";

const head: BaseHeadProps = {
	title: "FuseTim's Blog",
	overrideTitle: true,
	description:
		"FuseTim is an independant developer, currently studying Computer Sciences at TELECOM Nancy, in France. Always curious, he loves to explore all fields related to computer sciences (robotics, embedded systems, cyber security, web dev, distributed apps,...).",
};
---

<BasePage {head}>
	<main>
		Hello
	</main>
	<UiiFooter>
	</UiiFooter>
</BasePage>
