.App {
  margin: auto auto;
  max-width: 800px;
  height: 90vh;
  padding: 2rem;
  overflow: hidden;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome {
  font-size: 2rem;
  font-weight: 600;
  text-align: center;
}

.uiiContainer {
  background-color: black;
  width: 100%;
  aspect-ratio: 16/9;
  margin: 0;
  padding: 0;

  /* A very cozy Wii-U blue neon box shadow */
  box-shadow: 0 0 1.5em rgba(0, 136, 255, 0.7);
  border-radius: 1em;
  overflow: hidden;
  border: 0px solid transparent;

  container-type: size;
  container-name: uiiContainer;
}