---
import UiiFooter from "@components/UiiFooter/UiiFooter.astro";
import BlankPage, { type BlankPageProps } from "./BlankPage.astro";
import type { BlankHeadProps } from "./BlankHead.astro";

export interface BasePageProps {
    head: BlankHeadProps;
    footerReturnHome?: boolean;
};

const props: BasePageProps = Astro.props as BasePageProps;
const footerReturnHome = props.footerReturnHome ?? true;
---

<BlankPage head={props.head}>
	<div id="uii-menu">
		<main>
			<slot></slot>
			<hr id="uii-footer-separator"></hr>
		</main>
		<UiiFooter returnHomeLink={footerReturnHome} />
	</div>
</BlankPage>

<style is:global>
	#uii-menu {
		display: flex;
		flex-direction: column;
		height: 100%;
		overflow: scroll;
	}

	main {
		max-width: 88rem;
		margin: 0 auto;
	}

	#uii-footer-separator {
		border: none;
		height: 96px;
		width: 100%;
		background-color: transparent;
		margin: 0;
	}
</style>